* {
    background-color: darkslateblue;
}

#startButton {
    background-color: black;
    color: aliceblue;
    font-weight: bold;
    font-size: 80px;
    position: absolute;
    left: 37%;
    top: 45%;
}

button:hover {
    cursor: pointer;
}

.output {
    background-color: aliceblue;
    font-weight: bold;
    font-size: 80px;
    position: absolute;
    left: 45%;
    top: 40%;
}

img {
    position: absolute;
    width: 180px;
    height: 180px;
}

img:hover {
    cursor: pointer;
}

#rock {
    left: 29%;
}

#paper {

    left: 44%;
}

#scissors {

    left: 59%;
}

.icons {
    position: absolute;
    top: 55%;
}

.info,
.info2 {
    background-color: aliceblue;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    left: 30%;
    top: 20%;
}

.info2 {
    top: 10%;
}